{{#resume.basics}}
	
	<section id="basics">
		<div class="contact">
		
		{{name}} | {{phone}} | {{email}} | {{#location}} {{address}}, {{postalCode}} {{city}} {{/location}}

		</div>
		
	</section>
{{/resume.basics}}