{{#if resume.education.length}}
<section id="education">
	<h2> <?xml version="1.0" encoding="UTF-8"?>

    <div class="iconBox">
        <svg width="8.5979mm" height="12.6201mm" version="1.1" viewBox="0 0 45.979 66.201" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-72.071 -44.29)" fill="none" stroke="#000">
  <path d="m75.951 79.366 14.754 24.529 23.725-51.282" stroke-width="5.2761"/>
  <rect x="72.571" y="44.79" width="44.979" height="65.201" stroke-linejoin="round"/>
  <g>
   <path d="m76.027 54.032h3.4745"/>
   <path d="m82.148 54.032h3.4745"/>
   <path d="m89.556 54.032h3.4745"/>
   <path d="m95.676 54.032h3.4745"/>
   <path d="m76.45 48.526h3.4745"/>
   <path d="m82.57 48.526h3.4745"/>
   <path d="m89.979 48.526h3.4745"/>
   <path d="m96.099 48.526h3.4745"/>
   <path d="m75.88 59.084h3.4745"/>
   <path d="m82 59.084h3.4745"/>
   <path d="m89.408 59.084h3.4745"/>
   <path d="m95.529 59.084h3.4745"/>
   <path d="m76.302 64.59h3.4745"/>
   <path d="m82.423 64.59h3.4745"/>
   <path d="m89.831 64.59h3.4745"/>
   <path d="m95.951 64.59h3.4745"/>
   <path d="m76.099 74.314h3.4745"/>
   <path d="m82.219 74.314h3.4745"/>
   <path d="m89.628 74.314h3.4745"/>
   <path d="m95.748 74.314h3.4745"/>
   <path d="m76.521 68.808h3.4745"/>
   <path d="m82.642 68.808h3.4745"/>
   <path d="m90.05 68.808h3.4745"/>
   <path d="m96.17 68.808h3.4745"/>
   <path d="m75.951 79.366h3.4745"/>
   <path d="m82.071 79.366h3.4745"/>
   <path d="m89.48 79.366h3.4745"/>
   <path d="m95.6 79.366h3.4745"/>
   <path d="m76.374 84.872h3.4745"/>
   <path d="m82.494 84.872h3.4745"/>
   <path d="m89.902 84.872h3.4745"/>
   <path d="m96.023 84.872h3.4745"/>
   <path d="m101.8 54.032h3.4745"/>
   <path d="m107.92 54.032h3.4745"/>
   <path d="m102.22 48.526h3.4745"/>
   <path d="m108.34 48.526h3.4745"/>
   <path d="m101.65 59.084h3.4745"/>
   <path d="m107.77 59.084h3.4745"/>
   <path d="m102.07 64.59h3.4745"/>
   <path d="m108.19 64.59h3.4745"/>
   <path d="m101.87 74.314h3.4745"/>
   <path d="m107.99 74.314h3.4745"/>
   <path d="m102.29 68.808h3.4745"/>
   <path d="m108.41 68.808h3.4745"/>
   <path d="m101.72 79.366h3.4745"/>
   <path d="m107.84 79.366h3.4745"/>
   <path d="m102.14 84.872h3.4745"/>
   <path d="m108.26 84.872h3.4745"/>
  </g>
 </g>
</svg>
    </div>

 KOULUTUS</h2>
	
    <div id="educationItems">
        {{#each resume.education}}
	<div class="item">		
		{{#if institution}}
		<div class="institution">
			<b>{{institution}}</b>
            <div class="date">
			{{#if startDate}}
			<span class="startDate">
				{{startDate}}
			</span>
			    {{/if}}
			    {{#if endDate}}
			    <span class="endDate">
				    {{endDate}}
			    </span>
			    {{else}}
			    <span class="endDate">
				 Present
			    </span>
			    {{/if}}
		    </div>
		</div>
		{{/if}}        
		{{#if area}}
		<div class="area">
			{{area}}
		</div>
		{{/if}}
		{{#if studyType}}
		<div class="studyType">
			{{studyType}}
		</div>
		{{/if}}
		{{#if gpa}}
		<div class="gpa">
			GPA: {{gpa}}
		</div>
		{{/if}}
		{{#if courses.length}}
		<ul class="courses">
			{{#each courses}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}

    </div>
	
</section>
{{/if}}