{{#if resume.interests.length}}
<section id="interests">
	<h2> <?xml version="1.0" encoding="UTF-8"?>

    <div class="iconBox">
        <svg width="10.861mm" height="10.324mm" version="1.1" viewBox="0 0 16.861 16.324" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-32.321 -90.803)" stroke="#000">
  <g fill="none" stroke-width=".433">
   <ellipse transform="rotate(45)" cx="98.984" cy="35.636" rx="3.5295" ry="4.7268" stroke-linejoin="round"/>
   <g>
    <path d="m45.447 91.148-4.7112 4.7112"/>
    <path d="m40.937 97.819 6.4604-6.4604"/>
    <path d="m41.73 98.814 6.6703-6.6703"/>
    <path d="m43.114 99.311 5.8229-5.8229"/>
    <path d="m40.844 94.88 4.1903 4.1903"/>
    <path d="m41.777 93.294 4.8356 4.8356"/>
    <path d="m43.099 92.034 4.8201 4.8201"/>
    <path d="m44.389 91.412 4.167 4.167"/>
    <path d="m40.937 97.819-8.3107 8.3107 0.69191 0.69191 8.2252-8.2252-0.60639-0.77743"/>
   </g>
  </g>
  <g fill-rule="evenodd" stroke-linejoin="round">
   <path d="m43.037 105.32c-1.3179-0.14645-2.4012-0.59314-2.8731-1.1846-0.23625-0.29605-0.29071-0.50976-0.19884-0.78014 0.20296-0.59732 1.0826-1.1396 2.2684-1.3984 1.0261-0.22394 2.3308-0.21192 3.333 0.0307 1.1571 0.28012 2.0296 0.86372 2.1586 1.4439 0.10776 0.4846-0.39612 1.0505-1.2752 1.4322-0.43279 0.18792-0.89142 0.31481-1.4947 0.41353-0.34948 0.0573-1.5479 0.0838-1.9181 0.0427z" stroke-width=".042379"/>
   <path d="m39.394 105.83c-0.26523-1.3383 0.94815-3.3385 2.186-3.6034 0.76477-0.16371 1.1025 0.42734 0.86322 1.5108-0.26584 1.204-1.2131 2.3633-2.1241 2.5996-0.46021 0.11939-0.84255-0.0902-0.92518-0.507z" stroke-width=".074498"/>
   <path d="m48.335 105.95c0.26523-1.3383-0.94815-3.3385-2.186-3.6034-0.76477-0.16371-1.1025 0.42734-0.86322 1.5108 0.26584 1.204 1.2131 2.3633 2.1241 2.5996 0.46021 0.11939 0.84255-0.0902 0.92518-0.50699z" stroke-width=".074498"/>
  </g>
 </g>
</svg>
    </div>

 HARRASTUKSET</h2>

    <div id="interestItems">

        {{#each resume.interests}}
	<div class="item">
		{{#if name}}
		
			<ul class="name">
                <li>
                {{name}}
                </li>
            </ul>
		
		{{/if}}
		{{#if keywords.length}}
		<ul class="keywords">
			{{#each keywords}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}

    </div>
	
</section>
{{/if}}