{{#if resume.languages.length}}
<section id="languages">
	<h2> <?xml version="1.0" encoding="UTF-8"?>

    <div class="iconBox">
        <svg width="12.91mm" height="8.77mm" version="1.1" viewBox="0 0 19.83 13.547" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-67.368 -162.57)">
  <g stroke="#000">
   <path d="m67.469 175.98c2.3304-2.7237 5.1729-4.9354 9.2604 0" fill="none" stroke-width=".26543px"/>
   <path d="m67.469 175.98h9.2604" fill="none" stroke-width=".26543px"/>
   <g stroke-linejoin="round">
    <circle cx="72.12" cy="170.33" r="2.6458" fill-rule="evenodd" stroke-width=".3"/>
    <path transform="scale(.26458)" d="m256.64 664.06c3.3592-3.7438 6.1899-6.1499 9.0066-7.6556 1.7555-0.93843 3.3693-1.4734 5.2244-1.7319 0.56423-0.0786 2.0644-0.0969 2.705-0.0329 3.4735 0.34678 6.8906 2.0147 10.537 5.1434 1.3696 1.175 2.938 2.7544 4.574 4.6062l0.21614 0.24464h-32.779z" fill-rule="evenodd" stroke-width=".035793"/>
    <rect x="78.317" y="162.72" width="8.7312" height="3.9688" fill="none" stroke-width=".3"/>
   </g>
   <path d="m78.317 162.72-3.7042 5.0271 3.7042-1.0772v-3.9499" fill="none" stroke-width=".30823px"/>
   <path transform="scale(.26458)" d="m296.62 622.5v-6.8973h31.786v13.795h-31.786z" fill-rule="evenodd" stroke-linejoin="round" stroke-width=".050619"/>
   <path transform="scale(.26458)" d="m283.71 632.71c0.0697-0.0945 2.7182-3.6887 5.8856-7.9871l5.7589-7.8154 0.0113 6.2756c6e-3 3.4516 6e-3 6.2813-1e-3 6.2882-0.0197 0.0197-11.69 3.4104-11.738 3.4104-0.0236 0 0.014-0.0773 0.0836-0.17174z" fill-rule="evenodd" stroke-linejoin="round" stroke-width=".050619"/>
   <path d="m74.877 167.48 3.4396-4.4979h8.4667v3.4396h-8.2021l-3.7042 1.0583" fill="#fff" stroke-width=".26458px"/>
  </g>
  <text x="78.52874" y="164.32565" fill="#000000" font-family="sans-serif" font-size="1.4111px" stroke-width=".26458" style="line-height:1.25" xml:space="preserve"><tspan x="78.52874" y="164.32565" font-size="1.4111px" stroke-width=".26458"/></text>
  <g fill="none" stroke="#000">
   <g stroke-width=".065">
    <path d="m78.581 163.78h1.0583"/>
    <path d="m80.169 163.78h1.0583"/>
    <path d="m81.756 163.78h1.0583"/>
    <path d="m83.344 163.78h1.0583"/>
    <path d="m79.11 165.36h1.0583"/>
    <path d="m80.698 165.36h1.0583"/>
    <path d="m82.285 165.36h1.0583"/>
    <path d="m83.873 165.36h1.0583"/>
   </g>
   <g stroke-width=".065">
    <path d="m79.904 164.57h1.0583"/>
    <path d="m81.492 164.57h1.0583"/>
    <path d="m83.079 164.57h1.0583"/>
    <path d="m84.667 164.57h1.0583"/>
   </g>
  </g>
 </g>
        </svg>
    </div>
        
KIELITAITO</h2>

    <div id="languageItems">
        {{#each resume.languages}}
	<div class="item">
		{{#if language}}
		<div class="language">
			{{language}}
		</div>
		{{/if}}
		{{#if fluency}}
		<div class="fluency">
			<i>{{fluency}}</i>
		</div>
		{{/if}}
	</div>
	{{/each}}

    </div>
    
</section>
{{/if}}