{{#if resume.skills.length}}
<section id="skills">
	<?xml version="1.0" encoding="UTF-8"?>


	<h2 id="itSkills">
        <div class="iconBox">
            <svg width= "13.72mm" height="8.76mm" inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)" sodipodi:docname="itSkills.svg" version="1.1" viewBox="0 0 131.52 69.636" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:osb="http://www.openswatchbook.org/uri/2009/osb" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:xlink="http://www.w3.org/1999/xlink">
 <title>itSkills</title>
 <defs>
  <linearGradient id="linearGradient7452" x1="280.8" x2="614.15" y1="452.96" y2="452.96" gradientUnits="userSpaceOnUse" inkscape:collect="always">
   <stop offset="0"/>
  </linearGradient>
 </defs>
 <sodipodi:namedview id="base" bordercolor="#666666" borderopacity="1.0" inkscape:current-layer="layer1" inkscape:cx="262.61908" inkscape:cy="95.430436" inkscape:document-rotation="0" inkscape:document-units="mm" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:window-height="1377" inkscape:window-maximized="1" inkscape:window-width="2560" inkscape:window-x="1912" inkscape:window-y="-8" inkscape:zoom="1.4" pagecolor="#ffffff" showgrid="false"/>
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title>itSkills</dc:title>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-31.207 -100.7)" inkscape:groupmode="layer" inkscape:label="Layer 1">
  <g fill="none" stroke="#000">
   <g stroke-width=".31015px">
    <path d="m31.298 170.18 42.832-31.17"/>
    <path d="m119.81 170.18 42.832-31.17"/>
    <path d="m31.298 170.18h88.51"/>
   </g>
   <g stroke-width=".10128">
    <path d="m74.122 139.02h88.525"/>
    <path d="m74.122 139.02v-38.27" stroke-linejoin="round"/>
    <path d="m162.65 139.02v-38.27"/>
    <path d="m74.122 100.75 88.525-1e-5"/>
   </g>
  </g>
  <g fill-rule="evenodd" stroke-linejoin="round">
   <path transform="scale(.26458)" d="m280.8 452.96v-71.973h333.35v143.95h-333.35z" fill="url(#linearGradient7452)" stroke-width="190.9"/>
   <path d="m75.618 119.82v-17.273h85.612v34.545h-85.612z" fill="#fff" stroke-width="47.392" style="mix-blend-mode:normal"/>
   <path transform="scale(.26458)" d="m121.21 642.13c0.1866-0.17206 36.098-26.32 79.804-58.107 43.705-31.787 79.554-57.923 79.664-58.08s74.874-0.24586 166.14-0.19654l165.94 0.0897-160.14 116.58-165.88 0.0144c-94.936 8e-3 -165.73-0.11944-165.54-0.29847z" fill="#fff" stroke-width="134.98"/>
   <path transform="scale(.26458)" d="m121.21 642.13c0.1866-0.17456 35.857-26.15 79.268-57.724 43.411-31.573 79.261-57.708 79.666-58.076 0.71935-0.6529 4.8657-0.66733 166.68-0.57989l165.94 0.0897-160.15 116.58-165.88 0.012c-96.748 7e-3 -165.73-0.12028-165.54-0.3054z" stroke-width="134.98"/>
  </g>
 </g>
</svg>
        </div>
         IT-TAIDOT</h2>
         <div id="skillItems">
             {{#each resume.skills}}
    <div class="emptySide"></div>
	<div class="item" id="itSkillsContent">
		{{#if name}}
		<div class="name">
			{{name}}
		</div>
		{{/if}}
		{{#if level}}
		<div class="level">
			<em>{{level}}</em>
		</div>
		{{/if}}
		{{#if keywords.length}}
		<ul class="keywords">
			{{#each keywords}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
         </div>
</section>
{{/if}}