{{#if resume.work.length}}
<section id="work">
	
	<h2> <?xml version="1.0" encoding="UTF-8" standalone="no"?>

   <div class="iconBox">
      <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="9.4634724mm"
   height="8.6661644mm"
   viewBox="0 0 9.4634726 8.6661648"
   version="1.1"
   id="svg8"
   inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
   sodipodi:docname="work.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="32.000001"
     inkscape:cx="19.355754"
     inkscape:cy="35.739333"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     inkscape:document-rotation="0"
     showgrid="false"
     inkscape:window-width="2560"
     inkscape:window-height="1377"
     inkscape:window-x="1912"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     inkscape:object-nodes="false"
     inkscape:snap-to-guides="false">
    <inkscape:grid
       type="xygrid"
       id="grid891"
       originx="-67.367911"
       originy="-167.53207" />
  </sodipodi:namedview>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-67.367907,-167.53203)">
    <path
       style="fill:none;stroke:#000000;stroke-width:0.265431px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 67.46875,175.98335 c 2.330395,-2.72374 5.172922,-4.93541 9.260417,0"
       id="path885"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.265431px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 67.46875,175.98335 h 9.260417"
       id="path889" />
    <circle
       style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.3;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none"
       id="path897"
       cx="72.120201"
       cy="170.32787"
       r="2.6458333" />
    <path
       style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.0357928;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 256.63683,664.05556 c 3.35915,-3.7438 6.18989,-6.14994 9.00656,-7.65562 1.75553,-0.93843 3.36926,-1.47337 5.22439,-1.73186 0.56423,-0.0786 2.06438,-0.0969 2.70502,-0.0329 3.47352,0.34678 6.89058,2.01468 10.53744,5.14344 1.36956,1.17499 2.93797,2.75444 4.57404,4.60624 l 0.21614,0.24464 h -16.38928 -16.38928 z"
       id="path899"
       transform="scale(0.26458333)" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:1.41111px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
       x="78.52874"
       y="164.32565"
       id="text996"><tspan
         sodipodi:role="line"
         id="tspan994"
         x="78.52874"
         y="164.32565"
         style="font-size:1.41111px;stroke-width:0.264583" /></text>
    <path
       style="fill:none;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 71.437495,173.30206 h 1.5875 l -0.264584,1.05834 h -1.058333 l -0.264583,-1.05834"
       id="path893" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 71.437495,173.30206 h 1.5875 l -0.529167,1.05834 h -0.529167 l -0.529166,-1.05834 v 0 l 0.529166,1.05834 -0.264583,1.5875 c 0,0 1.058333,0 1.058333,0 l -0.264583,-1.5875 v 0"
       id="path898" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 76.869106,62.473878 c -0.313018,-0.625988 -0.566641,-1.140643 -0.563608,-1.143676 0.003,-0.003 0.520133,0.509139 1.14911,1.138161 l 1.143594,1.143676 H 78.018216 77.43823 Z"
       id="path908"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.545126,70.600243 c 5.36e-4,-0.01085 0.240812,-1.454462 0.533946,-3.208024 l 0.532972,-3.188294 -0.960105,-1.921631 c -0.528057,-1.056898 -0.960104,-1.923622 -0.960104,-1.926054 0,-0.0024 0.09944,-0.05374 0.220971,-0.114007 l 0.22097,-0.109585 v -0.249042 -0.249043 h 3.38559 c 1.862074,0 3.385589,0.0036 3.385589,0.0079 0,0.0044 -0.511399,1.030692 -1.136442,2.280755 l -1.136443,2.272842 0.528765,3.176436 c 0.290821,1.74704 0.532456,3.192417 0.536966,3.211949 l 0.0082,0.03551 h -2.580924 c -2.054737,0 -2.580726,-0.004 -2.57995,-0.01973 z m 3.088542,-6.981757 c -0.0051,-0.0051 -0.274907,-0.0084 -0.599493,-0.0072 l -0.590156,0.0021 -0.547452,-1.105305 c -0.301098,-0.607918 -0.547451,-1.110352 -0.547451,-1.116521 0,-0.0062 0.387183,0.374817 0.860407,0.846634 0.473223,0.471818 0.865337,0.85292 0.871363,0.846894 0.006,-0.006 -0.407485,-0.429443 -0.918913,-0.940926 -0.511428,-0.511483 -0.932352,-0.927485 -0.935388,-0.92445 -0.003,0.003 0.264791,0.546103 0.59517,1.206816 l 0.600689,1.201296 h 0.61028 c 0.335654,0 0.606079,-0.0042 0.600944,-0.0093 z m -0.04328,-0.04223 c 0,-0.0023 -0.0799,-0.08222 -0.177566,-0.177566 l -0.177566,-0.173351 0.173351,0.177566 c 0.161015,0.16493 0.181781,0.184733 0.181781,0.173351 z"
       id="path910"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.545126,70.600243 c 5.36e-4,-0.01085 0.240812,-1.454462 0.533946,-3.208024 l 0.532972,-3.188294 -0.961807,-1.925036 c -0.528993,-1.058769 -0.955714,-1.92746 -0.948267,-1.930424 0.0074,-0.003 0.105874,-0.05294 0.218727,-0.111052 l 0.205188,-0.105665 0.0043,-0.248592 0.0043,-0.248593 h 3.385189 c 1.861853,0 3.385188,0.0036 3.385188,0.0079 0,0.0044 -0.510955,1.029804 -1.135456,2.278782 l -1.135456,2.270869 0.535366,3.209976 c 0.294451,1.765487 0.535506,3.211752 0.535678,3.213922 1.71e-4,0.0022 -1.160969,0.0039 -2.580312,0.0039 -2.054497,0 -2.580425,-0.004 -2.579649,-0.01973 z m 2.491498,-6.98425 -0.593228,-0.0043 -0.54714,-1.102857 c -0.300927,-0.606571 -0.54714,-1.108788 -0.54714,-1.116037 0,-0.0073 0.385722,0.371926 0.857159,0.842614 0.471437,0.470687 0.862082,0.855794 0.8681,0.855794 0.006,0 0.01094,-0.0052 0.01094,-0.01152 0,-0.0154 -1.835067,-1.850947 -1.850469,-1.850947 -0.0066,0 0.257878,0.539801 0.587778,1.199557 l 0.599819,1.199556 0.603704,-0.0038 0.603703,-0.0037 z m 0.553768,-0.03976 c 0,-0.0023 -0.07251,-0.07514 -0.161134,-0.161782 -0.178414,-0.174435 -0.167199,-0.147316 0.01807,0.0437 0.100653,0.103774 0.14306,0.138776 0.14306,0.118081 z"
       id="path912"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.611934 c 0,-0.0044 0.237938,-1.435536 0.528752,-3.180256 0.290813,-1.744719 0.528751,-3.190051 0.528751,-3.211848 0,-0.0218 -0.430108,-0.899824 -0.955795,-1.951171 -0.525687,-1.051346 -0.953621,-1.91344 -0.950964,-1.915765 0.0027,-0.0023 0.102493,-0.05543 0.221856,-0.11801 L 75.133776,60.1211 v -0.243268 -0.243269 h 3.38559 c 1.862074,0 3.385589,0.0036 3.385589,0.0079 0,0.0044 -0.510955,1.029804 -1.135456,2.278782 l -1.135456,2.270869 0.535366,3.209976 c 0.294451,1.765487 0.535506,3.211752 0.535678,3.213922 1.71e-4,0.0022 -1.160969,0.0039 -2.580312,0.0039 -1.419343,0 -2.580624,-0.0036 -2.580624,-0.008 z m 2.461189,-6.99594 -0.561376,-0.0043 -0.54954,-1.105173 c -0.302247,-0.607845 -0.546538,-1.108175 -0.542868,-1.111845 0.0037,-0.0037 0.353923,0.339264 0.778339,0.762075 0.424416,0.422811 0.814777,0.807811 0.867468,0.855557 l 0.0958,0.08681 -0.0789,-0.08806 c -0.14653,-0.163547 -1.77558,-1.790341 -1.775609,-1.77315 -1.6e-5,0.0094 0.266047,0.550949 0.59125,1.203502 l 0.59128,1.18646 0.572763,-0.0037 0.572764,-0.0037 z m 0.585052,-0.03989 c 0,-0.0024 -0.05053,-0.0539 -0.11228,-0.114432 -0.06175,-0.06053 -0.10498,-0.09569 -0.09606,-0.07812 0.02499,0.04921 0.208338,0.218662 0.208338,0.192553 z"
       id="path914"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.609543 c 0,-0.0057 0.237938,-1.440754 0.528752,-3.188928 0.290813,-1.748175 0.528751,-3.191436 0.528751,-3.207247 0,-0.01581 -0.430053,-0.890295 -0.955673,-1.943295 -0.721035,-1.444485 -0.950642,-1.917839 -0.93518,-1.927953 0.01127,-0.0074 0.111051,-0.05976 0.221734,-0.116408 l 0.201241,-0.103003 v -0.244073 -0.244073 h 3.38559 c 1.862074,0 3.385589,0.0034 3.385589,0.0075 0,0.0041 -0.511155,1.032249 -1.135901,2.284681 l -1.135902,2.277149 0.527405,3.156727 c 0.290073,1.7362 0.53165,3.17981 0.536839,3.208024 l 0.0094,0.0513 h -2.58134 c -1.419736,0 -2.581339,-0.0047 -2.581339,-0.01043 z M 77.88723,63.616 77.444498,63.6116 76.894197,62.506966 c -0.302665,-0.607549 -0.547079,-1.107857 -0.543141,-1.111795 0.0039,-0.0039 0.308537,0.292607 0.676888,0.658988 0.36835,0.366381 0.755172,0.747744 0.859604,0.847473 0.179983,0.17188 0.182886,0.173938 0.05572,0.03952 -0.236853,-0.250361 -1.2954,-1.313671 -1.502854,-1.509617 l -0.200705,-0.189571 0.391788,0.794416 c 0.215483,0.436929 0.481618,0.973758 0.59141,1.192953 l 0.199623,0.398537 0.453719,-0.0037 0.453718,-0.0037 z m 0.639178,-0.10785 c -0.02992,-0.0311 -0.0686,-0.06343 -0.08596,-0.07186 -0.01736,-0.0084 0.0029,0.01702 0.04493,0.05654 0.09094,0.08542 0.118298,0.09564 0.04103,0.01532 z"
       id="path916"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.543855,70.608135 c -1.63e-4,-0.0065 0.239047,-1.450122 0.531578,-3.208024 l 0.531873,-3.196186 -0.957735,-1.924198 c -0.526755,-1.058308 -0.957736,-1.926558 -0.957736,-1.929443 0,-0.0029 0.09944,-0.05506 0.220971,-0.115943 l 0.22097,-0.110696 v -0.244541 -0.244541 h 3.38559 c 1.862074,0 3.385589,0.0043 3.385589,0.0097 0,0.0053 -0.510373,1.034228 -1.134162,2.28648 l -1.134162,2.27682 0.525665,3.154928 c 0.289116,1.73521 0.529911,3.178011 0.5351,3.206225 l 0.0094,0.0513 h -2.58134 c -1.419736,0 -2.581472,-0.0053 -2.581635,-0.01184 z m 2.193557,-6.992116 -0.292662,-0.0047 -0.548275,-1.100573 c -0.301552,-0.605314 -0.548069,-1.107634 -0.547817,-1.116266 2.52e-4,-0.0086 0.23307,0.215115 0.517372,0.497215 1.041568,1.033498 1.207648,1.191272 0.645361,0.613084 -0.284077,-0.29211 -0.687382,-0.696598 -0.896232,-0.898863 l -0.379729,-0.367754 0.417494,0.835729 c 0.229621,0.45965 0.497383,0.997313 0.595025,1.194806 l 0.177533,0.359078 0.302295,-0.0036 0.302296,-0.0036 z m 0.789846,-0.104641 c 0,-0.0033 -0.01243,-0.01571 -0.02762,-0.02762 -0.02503,-0.01963 -0.02559,-0.01907 -0.006,0.006 0.02062,0.02629 0.03358,0.03465 0.03358,0.02166 z"
       id="path918"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.543947,70.608135 c -1.13e-4,-0.0065 0.238715,-1.450122 0.530729,-3.208024 l 0.530934,-3.196186 -0.956888,-1.923692 c -0.526288,-1.058031 -0.956887,-1.92628 -0.956887,-1.929444 0,-0.0032 0.09944,-0.05557 0.220971,-0.116448 l 0.22097,-0.110696 v -0.244541 -0.244541 h 3.38559 c 1.862074,0 3.385589,0.0058 3.385589,0.01297 0,0.0071 -0.510044,1.035237 -1.133431,2.28468 l -1.133431,2.271715 0.532678,3.188294 c 0.292974,1.753562 0.533117,3.197173 0.533653,3.208024 7.76e-4,0.01571 -0.525152,0.01973 -2.579649,0.01973 -1.419343,0 -2.580716,-0.0053 -2.580828,-0.01184 z m 2.046758,-6.992096 -0.155264,-0.0052 -0.201844,-0.413732 c -0.111015,-0.227553 -0.355438,-0.721821 -0.543163,-1.098373 -0.187725,-0.376553 -0.341318,-0.692566 -0.341318,-0.702254 0,-0.0097 0.17579,0.156354 0.390645,0.368979 0.214855,0.212625 0.550259,0.542844 0.745344,0.73382 l 0.354699,0.34723 -0.372545,-0.378807 c -0.518271,-0.526984 -1.212845,-1.2157 -1.212845,-1.202616 0,0.006 0.264551,0.540054 0.587891,1.186804 l 0.587891,1.175909 0.157886,-0.0033 0.157886,-0.0033 z"
       id="path920"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.602068 c 0,-0.0098 0.238534,-1.452729 0.530076,-3.206403 l 0.530076,-3.188499 -0.950207,-1.91144 c -0.522614,-1.051292 -0.953542,-1.919959 -0.957617,-1.930372 -0.0045,-0.01158 0.07892,-0.06218 0.214944,-0.13032 l 0.222353,-0.111389 v -0.244541 -0.244541 h 3.38559 c 2.153028,0 3.385589,0.0055 3.385589,0.01516 0,0.0083 -0.507838,1.031249 -1.12853,2.273141 -0.620691,1.241892 -1.128529,2.275673 -1.128529,2.297293 0,0.02162 0.237938,1.466806 0.528751,3.211525 0.290814,1.74472 0.528752,3.175835 0.528752,3.180256 0,0.0044 -1.161281,0.008 -2.580624,0.008 -1.913662,0 -2.580624,-0.0046 -2.580624,-0.0179 z m 1.966141,-6.988563 -0.07784,-0.0094 -0.544027,-1.10118 c -0.299215,-0.60565 -0.541107,-1.1041 -0.53754,-1.107668 0.0036,-0.0036 0.327799,0.309713 0.720514,0.696179 0.392715,0.386466 0.714027,0.70022 0.714027,0.697232 0,-0.003 -0.345016,-0.349884 -0.766701,-0.770879 -0.553212,-0.552306 -0.760392,-0.750063 -0.744045,-0.710202 0.01246,0.03038 0.277549,0.564856 0.589084,1.187718 l 0.566427,1.132476 0.07897,-0.0025 0.07897,-0.0025 z"
       id="path922"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.543916,70.600243 c -1.29e-4,-0.01085 0.238477,-1.45353 0.530236,-3.205952 l 0.530471,-3.186222 -0.956394,-1.922636 c -0.526017,-1.05745 -0.956394,-1.926632 -0.956394,-1.931516 0,-0.0049 0.09944,-0.05869 0.220971,-0.119576 l 0.22097,-0.110696 v -0.244541 -0.244541 h 3.38559 c 2.128574,0 3.385589,0.0056 3.385589,0.015 0,0.0082 -0.507838,1.031779 -1.12853,2.274509 -0.620691,1.24273 -1.128529,2.276079 -1.128529,2.296332 0,0.02025 0.237938,1.46077 0.528751,3.201149 0.290814,1.74038 0.528752,3.171998 0.528752,3.181373 0,0.01214 -0.743298,0.01705 -2.580624,0.01705 -2.053852,0 -2.580672,-0.004 -2.580859,-0.01973 z m 1.945098,-6.983873 c -0.05091,-0.0063 -0.05593,-0.01473 -0.301424,-0.506496 -0.439693,-0.880761 -0.843073,-1.708205 -0.836136,-1.715143 0.0037,-0.0037 0.311882,0.292445 0.68484,0.658107 l 0.678107,0.664842 -0.678697,-0.682369 c -0.604285,-0.607556 -0.78767,-0.783911 -0.76402,-0.734733 0.004,0.0082 0.266125,0.53521 0.582607,1.171094 l 0.575422,1.156151 0.05553,-0.0025 0.05553,-0.0025 z"
       id="path924"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.598541 c 0,-0.01179 0.238108,-1.455177 0.529129,-3.207533 l 0.529129,-3.186103 -0.955287,-1.92014 c -0.525408,-1.056077 -0.955287,-1.924547 -0.955287,-1.929933 0,-0.0054 0.09944,-0.05961 0.220971,-0.120491 l 0.22097,-0.110696 v -0.244541 -0.244541 h 3.38559 c 1.934855,0 3.385589,0.0059 3.385589,0.01387 0,0.0076 -0.509345,1.035441 -1.131879,2.284029 l -1.131879,2.27016 0.532416,3.196838 c 0.292828,1.758261 0.532273,3.202165 0.5321,3.208676 -1.72e-4,0.0065 -1.161595,0.01184 -2.580938,0.01184 -2.163235,0 -2.580624,-0.0035 -2.580624,-0.02143 z m 1.929005,-6.981929 c -0.02979,-0.0057 -0.0877,-0.11031 -0.33305,-0.601574 -0.437851,-0.876701 -0.796077,-1.612881 -0.788513,-1.620446 0.0037,-0.0037 0.272717,0.253483 0.597916,0.571417 l 0.591272,0.57806 -0.560319,-0.564007 c -0.501037,-0.504335 -0.732825,-0.726921 -0.708448,-0.680325 0.0045,0.0087 0.266623,0.536051 0.582403,1.171935 0.542275,1.091974 0.576384,1.156031 0.614471,1.154001 0.03789,-0.002 0.03815,-0.0026 0.0043,-0.0091 z"
       id="path926"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.595576 c 0,-0.01342 0.237973,-1.456569 0.52883,-3.207003 l 0.52883,-3.182607 -0.954988,-1.919984 c -0.525244,-1.055992 -0.954988,-1.924504 -0.954988,-1.930028 0,-0.0055 0.09944,-0.0605 0.220971,-0.122166 l 0.22097,-0.112122 v -0.243551 -0.243552 h 3.38559 c 1.862074,0 3.385589,0.006 3.385589,0.01323 0,0.0073 -0.509081,1.035381 -1.131292,2.284681 l -1.131292,2.271454 0.531793,3.196186 c 0.292486,1.757902 0.531667,3.201513 0.531514,3.208024 -1.53e-4,0.0065 -1.16156,0.01184 -2.580903,0.01184 -2.317237,0 -2.580624,-0.0025 -2.580624,-0.0244 z m 1.925603,-6.973956 c 0,-0.0034 -0.01102,-0.01043 -0.0245,-0.0156 -0.01405,-0.0054 -0.02038,-0.0027 -0.01485,0.0062 0.0093,0.015 0.03935,0.02218 0.03935,0.0094 z m -0.384396,-0.715899 c -0.43308,-0.866821 -0.741859,-1.503035 -0.733526,-1.511368 0.0036,-0.0036 0.226428,0.207145 0.495159,0.468337 l 0.488602,0.474893 -0.517607,-0.516914 c -0.284684,-0.284303 -0.521302,-0.513221 -0.525816,-0.508706 -0.0094,0.0094 1.107067,2.268509 1.121103,2.268509 0.0051,0 -0.142501,-0.303638 -0.327915,-0.674751 z"
       id="path928"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544178,70.592351 c 1.5e-5,-0.01519 0.237824,-1.458174 0.528465,-3.206628 l 0.528437,-3.179007 -0.954623,-1.919651 c -0.525042,-1.055809 -0.954622,-1.924367 -0.954622,-1.930129 0,-0.0058 0.09932,-0.06234 0.220704,-0.125725 l 0.220704,-0.115247 2.67e-4,-0.2407 2.66e-4,-0.240701 h 3.38559 c 1.87024,0 3.385589,0.0061 3.385589,0.01353 0,0.0074 -0.508507,1.035547 -1.130016,2.284681 l -1.130016,2.271152 0.530629,3.196186 c 0.291846,1.757902 0.530453,3.201513 0.530238,3.208024 -2.15e-4,0.0065 -1.161672,0.01184 -2.581015,0.01184 -2.447225,0 -2.580623,-0.0014 -2.580597,-0.02762 z m 1.622233,-7.524063 c -0.11471,-0.229614 -0.21099,-0.415054 -0.213956,-0.412088 -0.0069,0.0069 0.404343,0.82957 0.414725,0.82957 0.0043,0 -0.08606,-0.187867 -0.200769,-0.417482 z m -0.45202,-1.351867 c -0.228809,-0.225865 -0.419224,-0.407455 -0.423145,-0.403535 -0.0039,0.0039 0.06039,0.141068 0.142908,0.304771 0.08252,0.163703 0.150415,0.293043 0.150877,0.287424 4.62e-4,-0.0056 -0.05341,-0.121241 -0.119716,-0.256936 -0.06631,-0.135695 -0.117574,-0.249701 -0.113929,-0.253346 0.0036,-0.0036 0.176865,0.159544 0.384932,0.362642 0.208067,0.203099 0.381856,0.369354 0.386196,0.369456 0.0043,1.11e-4 -0.179315,-0.184611 -0.408123,-0.410476 z"
       id="path930"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544176,70.592351 c 1.3e-5,-0.01519 0.23746,-1.458208 0.52766,-3.206703 l 0.527636,-3.179082 -0.955354,-1.922 c -0.525445,-1.057101 -0.951645,-1.927768 -0.947112,-1.934816 0.0045,-0.007 0.104535,-0.06253 0.222226,-0.1233 l 0.213985,-0.110486 2.8e-4,-0.2407 2.79e-4,-0.240701 h 3.38559 c 2.027105,0 3.385589,0.0058 3.385589,0.01439 0,0.0079 -0.508539,1.036961 -1.130087,2.286776 l -1.130087,2.272391 0.530562,3.186199 c 0.29181,1.752409 0.530449,3.195077 0.530309,3.205928 -2.01e-4,0.0157 -0.527035,0.01973 -2.580877,0.01973 -2.447224,0 -2.580623,-0.0014 -2.580599,-0.02762 z m 1.631136,-7.509744 c -0.0051,-0.0134 -0.01273,-0.02097 -0.01687,-0.01683 -0.0041,0.0041 -0.0028,0.0151 0.0029,0.02436 0.01556,0.02518 0.02466,0.02029 0.01399,-0.0075 z m -0.04735,-0.0947 c -0.0051,-0.0134 -0.01273,-0.02097 -0.01687,-0.01683 -0.0041,0.0041 -0.0028,0.0151 0.0029,0.02436 0.01556,0.02518 0.02466,0.02029 0.01399,-0.0075 z m -0.04735,-0.0947 c -0.0051,-0.0134 -0.01273,-0.02097 -0.01687,-0.01683 -0.0041,0.0041 -0.0028,0.0151 0.0029,0.02436 0.01556,0.02518 0.02466,0.02029 0.01399,-0.0075 z m -0.40738,-1.214727 c -0.199361,-0.194443 -0.365958,-0.350048 -0.370215,-0.345791 -0.0043,0.0043 0.04845,0.12083 0.117128,0.259049 0.06868,0.138219 0.127189,0.248987 0.130025,0.246151 0.0028,-0.0028 -0.04242,-0.101997 -0.100576,-0.220358 -0.05815,-0.118362 -0.102556,-0.218378 -0.09868,-0.222258 0.0039,-0.0039 0.155993,0.137802 0.338029,0.31485 0.182036,0.177048 0.334526,0.321901 0.338866,0.321897 0.0043,-5e-6 -0.155221,-0.159098 -0.354582,-0.35354 z"
       id="path932"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.550934,70.537108 c 0.0057,-0.04557 0.243833,-1.488107 0.529116,-3.205627 l 0.518696,-3.122763 -0.953487,-1.920014 c -0.524417,-1.056009 -0.951302,-1.926567 -0.948633,-1.934575 0.0027,-0.008 0.100344,-0.06489 0.217056,-0.126398 l 0.212203,-0.11184 0.0044,-0.240664 0.0044,-0.240664 h 3.385178 c 2.145968,0 3.385178,0.0055 3.385178,0.01511 0,0.0083 -0.508481,1.037512 -1.129958,2.287112 l -1.129959,2.271999 0.530181,3.182249 c 0.291599,1.750238 0.53018,3.192755 0.53018,3.205594 0,0.02051 -0.313775,0.02334 -2.582443,0.02334 H 75.5406 Z m 1.350609,-8.634018 c 0,-0.0024 -0.0586,-0.06097 -0.130215,-0.130215 l -0.130215,-0.125898 0.125899,0.130215 c 0.116931,0.120939 0.134531,0.13741 0.134531,0.125898 z m -0.472534,-0.325197 c -0.04394,-0.08756 -0.07989,-0.168008 -0.07989,-0.178766 0,-0.01076 0.04794,0.02639 0.10654,0.08254 0.09057,0.0868 0.08773,0.08266 -0.01889,-0.0276 -0.06899,-0.07134 -0.128687,-0.126449 -0.13267,-0.122467 -0.004,0.004 0.03777,0.09955 0.09277,0.212377 0.05501,0.112825 0.102718,0.202432 0.106022,0.199128 0.0033,-0.0033 -0.02994,-0.07765 -0.07389,-0.165213 z"
       id="path934"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544449,70.584459 c 1.64e-4,-0.01953 0.237242,-1.461996 0.526842,-3.205475 l 0.526543,-3.169961 -0.953129,-1.919872 c -0.524221,-1.05593 -0.950901,-1.926557 -0.948178,-1.934727 0.0027,-0.0082 0.100443,-0.06518 0.217155,-0.126693 l 0.212203,-0.11184 0.0044,-0.240664 0.0044,-0.240664 h 3.385178 c 2.217947,0 3.385178,0.0054 3.385178,0.01559 0,0.0086 -0.507982,1.037299 -1.12885,2.286056 l -1.128849,2.270467 0.529071,3.185383 c 0.29099,1.75196 0.529072,3.194952 0.529072,3.206649 0,0.01775 -0.427179,0.02127 -2.580624,0.02127 h -2.580624 l 2.98e-4,-0.03551 z m 0.877496,-9.018742 c -0.03052,-0.05948 -0.05584,-0.102951 -0.05627,-0.0966 -0.0012,0.01748 0.09935,0.217165 0.105982,0.210529 0.0032,-0.0032 -0.01919,-0.05444 -0.04971,-0.113924 z m -0.01759,-0.147603 c -0.08617,-0.08749 -0.111117,-0.09911 -0.08373,-0.03901 0.01,0.02195 0.02268,0.03263 0.02818,0.02373 0.0057,-0.0093 0.03287,0.0074 0.06349,0.03901 0.02942,0.03036 0.05716,0.05519 0.06164,0.05519 0.0045,0 -0.02683,-0.03551 -0.06958,-0.07892 z"
       id="path936"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.586738 c 0,-0.01828 0.23479,-1.447684 0.521755,-3.176456 0.286965,-1.728772 0.522325,-3.160979 0.523021,-3.182681 7.09e-4,-0.02207 -0.18992,-0.422035 -0.432555,-0.907559 -0.953543,-1.908091 -1.468559,-2.961723 -1.454543,-2.975739 0.0079,-0.0079 0.106555,-0.06252 0.219217,-0.121358 l 0.204839,-0.106981 0.0044,-0.2407 0.0044,-0.240701 h 3.385178 c 2.342662,0 3.385178,0.0051 3.385178,0.01649 0,0.0091 -0.507816,1.037994 -1.12848,2.286502 l -1.128479,2.270014 0.528701,3.181543 c 0.290786,1.749848 0.528702,3.192639 0.528702,3.206202 0,0.02226 -0.251471,0.02466 -2.580624,0.02466 h -2.580624 z m 0.869939,-9.03692 c -0.01761,-0.03337 -0.03233,-0.05559 -0.03271,-0.04938 -0.0011,0.01815 0.05169,0.12308 0.05851,0.116258 0.0034,-0.0034 -0.0082,-0.03351 -0.02581,-0.06688 z m -0.01072,-0.133062 c -0.0255,-0.02679 -0.05874,-0.05542 -0.07387,-0.06363 -0.02472,-0.01341 -0.02564,-0.01082 -0.0091,0.02548 0.01024,0.02247 0.02291,0.03312 0.02855,0.024 0.0061,-0.0098 0.02504,-5.3e-4 0.04736,0.02323 0.02048,0.02179 0.04087,0.03963 0.04532,0.03963 0.0045,0 -0.01277,-0.02192 -0.03826,-0.04871 z"
       id="path938"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.58671 c 0,-0.03181 0.402784,-2.477776 0.837232,-5.084207 0.112468,-0.674743 0.204488,-1.247436 0.204488,-1.272652 0,-0.02851 -0.184107,-0.415213 -0.486734,-1.022364 -0.267704,-0.537084 -0.69506,-1.398342 -0.94968,-1.913907 -0.443012,-0.89703 -0.461642,-0.938373 -0.432663,-0.960184 0.01666,-0.01254 0.113739,-0.06486 0.215741,-0.116288 l 0.185458,-0.0935 0.002,-0.09458 c 0.0011,-0.05202 0.0037,-0.101683 0.0059,-0.110364 0.0022,-0.0087 0.0048,-0.07616 0.0059,-0.149945 l 0.002,-0.134161 h 3.38559 c 2.403406,0 3.385589,0.0049 3.385589,0.01696 0,0.0093 -0.507713,1.038528 -1.128251,2.287108 l -1.128251,2.270145 0.528457,3.177975 c 0.290652,1.747887 0.528465,3.190405 0.528473,3.205597 1.5e-5,0.02619 -0.133387,0.02762 -2.580608,0.02762 h -2.580624 z m 0.852773,-9.176001 c -0.02014,-0.02143 -0.04208,-0.0356 -0.04875,-0.03147 -0.0067,0.0041 -0.01577,1.8e-4 -0.0202,-0.0088 -0.0044,-0.009 -0.0059,-0.0072 -0.0033,0.0038 0.0026,0.01107 0.01188,0.01863 0.02061,0.01681 0.0087,-0.0018 0.02848,0.0106 0.04388,0.02762 0.0154,0.01702 0.03169,0.03094 0.0362,0.03094 0.0045,0 -0.0083,-0.01754 -0.02842,-0.03897 z"
       id="path940"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.589407 c 0,-0.04008 0.07118,-0.474599 0.598983,-3.656687 0.243505,-1.468064 0.44273,-2.686166 0.442723,-2.706893 -8e-6,-0.02073 -0.245593,-0.531318 -0.545744,-1.134648 -0.300151,-0.603329 -0.72744,-1.465563 -0.949531,-1.916075 -0.385874,-0.782745 -0.402463,-0.82012 -0.373653,-0.841806 0.01658,-0.01248 0.112726,-0.06433 0.213654,-0.115211 l 0.183505,-0.09252 0.01151,-0.245503 0.01151,-0.245504 h 3.383928 c 2.115372,0 3.383927,0.0056 3.383927,0.01492 0,0.01655 -0.418145,0.86415 -1.520145,3.081399 l -0.734833,1.478501 0.527692,3.177671 c 0.29023,1.74772 0.5277,3.190101 0.527711,3.205293 1.8e-5,0.02619 -0.133383,0.02762 -2.580605,0.02762 -2.541908,0 -2.580624,-4.58e-4 -2.580624,-0.03057 z m 0.794628,-9.211433 c -0.0051,-0.0134 -0.01273,-0.02097 -0.01687,-0.01683 -0.0041,0.0041 -0.0028,0.0151 0.0029,0.02436 0.01556,0.02518 0.02466,0.02029 0.01399,-0.0075 z"
       id="path942"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544217,70.584459 c 6.7e-5,-0.03578 0.209258,-1.30979 0.749632,-4.565416 0.161379,-0.972272 0.289664,-1.787624 0.285077,-1.811894 -0.0046,-0.02427 -0.396597,-0.826867 -0.871136,-1.78355 -0.474538,-0.956683 -0.897652,-1.813808 -0.940253,-1.904723 -0.09104,-0.194292 -0.108152,-0.162907 0.164998,-0.302648 l 0.185458,-0.09488 v -0.122635 c 0,-0.06745 0.0046,-0.176976 0.01021,-0.243393 l 0.01021,-0.120759 h 3.383273 c 2.50247,0 3.383273,0.0046 3.383273,0.01782 0,0.0098 -0.507355,1.039428 -1.127456,2.288064 l -1.127456,2.270246 0.08666,0.517477 c 0.294956,1.761283 0.968696,5.839162 0.968696,5.863125 0,0.0276 -0.09713,0.02868 -2.580624,0.02868 h -2.580624 l 6.6e-5,-0.03551 z"
       id="path944"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.550381,70.529216 c 0.0058,-0.04991 0.209455,-1.291101 0.45253,-2.75819 0.243075,-1.467088 0.474075,-2.865648 0.513333,-3.107911 l 0.07138,-0.440477 -0.03447,-0.08038 c -0.01896,-0.04421 -0.432234,-0.882981 -0.918387,-1.863934 -0.486154,-0.980953 -0.897612,-1.815302 -0.914353,-1.854109 -0.03694,-0.08563 -0.0494,-0.07337 0.212123,-0.208804 l 0.185458,-0.09604 1.37e-4,-0.159537 c 7.5e-5,-0.08775 0.0046,-0.196826 0.01009,-0.242402 l 0.01,-0.08286 h 3.383391 c 2.532323,0 3.383391,0.0046 3.383391,0.01809 0,0.0099 -0.507047,1.03953 -1.126772,2.28796 l -1.126773,2.269873 0.518134,3.119273 c 0.284974,1.715601 0.52294,3.157736 0.528813,3.204745 l 0.01068,0.08547 h -2.584615 -2.584616 z"
       id="path946"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00387755;stroke-linejoin:round;stroke-opacity:1"
       d="m 75.544151,70.578997 c 0,-0.02254 0.170718,-1.071951 0.379373,-2.332032 0.208655,-1.260081 0.443452,-2.681261 0.521771,-3.158177 l 0.142397,-0.867121 -0.06482,-0.139515 c -0.03565,-0.07673 -0.458817,-0.935182 -0.940367,-1.907664 -0.48155,-0.972483 -0.877173,-1.783111 -0.879161,-1.801397 -0.003,-0.02765 0.03156,-0.05209 0.205379,-0.145187 l 0.208996,-0.11194 1.38e-4,-0.167471 c 7.5e-5,-0.09211 0.0047,-0.200424 0.01017,-0.2407 l 0.01004,-0.07323 h 3.383444 c 2.41112,0 3.383444,0.0049 3.383444,0.01704 0,0.01739 -1.025778,2.095242 -1.816226,3.679014 -0.249848,0.500605 -0.435704,0.891102 -0.431949,0.907559 0.0174,0.07625 1.048619,6.319313 1.048619,6.348383 v 0.03342 h -2.580624 -2.580624 z"
       id="path948"
       transform="matrix(0.26458333,0,0,0.26458333,51.561246,157.39458)" />
    <path
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.00103838;stroke-linejoin:round;stroke-opacity:1"
       d="m 71.548974,176.14001 c 0,-0.0126 0.01222,-0.0893 0.146124,-0.91768 0.0576,-0.35634 0.110267,-0.68358 0.117029,-0.72719 l 0.0123,-0.0793 -0.02663,-0.0578 c -0.01465,-0.0318 -0.126463,-0.26442 -0.248482,-0.51692 -0.12202,-0.25249 -0.222282,-0.46312 -0.222805,-0.46806 -7.94e-4,-0.007 0.0084,-0.0141 0.0543,-0.0393 l 0.05525,-0.0303 8.7e-5,-0.0519 c 4.7e-5,-0.0285 0.0013,-0.0579 0.0027,-0.0652 l 0.0026,-0.0134 h 0.895243 c 0.645426,0 0.895243,0.001 0.895243,0.005 0,0.005 -0.210578,0.44202 -0.463175,0.96207 -0.0714,0.14701 -0.129826,0.27236 -0.129826,0.27854 0,0.006 0.05081,0.32484 0.11291,0.70811 0.140379,0.86639 0.16271,1.00584 0.16271,1.01603 0,0.008 -0.01534,0.008 -0.682786,0.008 h -0.682785 z"
       id="path950" />
    <path
       style="fill:none;stroke:#ffffff;stroke-width:0.369379px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 71.505303,173.16671 9.04e-4,0.19539"
       id="path962" />
    <path
       style="fill:#000000;fill-opacity:1;stroke:#ffffff;stroke-width:0.375149;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 71.451244,173.31356 1.47903,-0.0186 -0.388608,0.88404 -0.0348,0.39221 c 0,0 0.313207,1.71204 0.290006,1.71827 -0.0232,0.006 -1.084621,0.0125 -1.084621,0.0125 l 0.226204,-1.74318 z"
       id="path964" />
  </g>
</svg>
   </div>


 TYÖKOKEMUS</h2>

	<div id="workItems">

		{{#each resume.work}}
		<div class="item">
			{{#if company}}
			<div  id="company">

			<h3 class="name">
				{{company}}
			</h3>
			{{#if position}}
			<span class="position">
				{{position}}
			</span>
			{{/if}}
			<span class="date">
				{{#if startDate}}
				<span class="startDate">
					{{startDate}}
				</span>
				{{/if}}
				{{#if endDate}}
				<b>-</b>
				<span class="endDate">
					{{endDate}}
				</span>
				{{else}}
				<span class="endDate">
					- Present
				</span>
				{{/if}}
			</span>
			{{#if website}}
			<div class="website">
				<a href="{{website}}">{{website}}</a>
			</div>
			{{/if}}
			</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</div>
   
</section>
{{/if}}