<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	{{!<meta name="viewport" content="width=device-width, initial-scale=1.0">}}
	

	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>
		{{{css}}}
	</style>
	
	</head>
	<body>
	
		<div id="resume">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>

            <span id="cvTitle">
               {{!<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="26.310883mm"
   height="16.445507mm"
   viewBox="0 0 26.310883 16.445507"
   version="1.1"
   id="svg8"
   inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
   sodipodi:docname="CV.svg">

  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.7"
     inkscape:cx="230.80616"
     inkscape:cy="-36.514465"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     inkscape:document-rotation="0"
     showgrid="false"
     inkscape:window-width="2560"
     inkscape:window-height="1377"
     inkscape:window-x="1912"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-56.387548,-110.75293)">
    <text
       xml:space="preserve"
       style="font-size:50.8px;line-height:1.25;font-family:Calibri;-inkscape-font-specification:Calibri;stroke-width:0.264583"
       x="55.184521"
       y="127"
       id="text835"><tspan
         sodipodi:role="line"
         id="tspan833"
         x="55.184521"
         y="127"
         style="font-size:25.4px;fill:#000000;fill-opacity:0.502008;stroke-width:0.264583">CV</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:10.5833px;line-height:1.25;font-family:Calibri;-inkscape-font-specification:Calibri;stroke-width:0.264583"
       x="171.60118"
       y="4.9136906"
       id="text839"><tspan
         sodipodi:role="line"
         id="tspan837"
         x="171.60118"
         y="4.9136906"
         style="stroke-width:0.264583"></tspan></text>
  </g>
            </svg>}}<h1>CV</h1> <span id="label">{{#resume.basics}}{{label}}{{/resume.basics}}</span> </span>

			<div id = "resumeSide">
            <img src="/images/profilePhotoE.webp" width="154" height="231">
            <div id="summary">
               <p>
                  {{#resume.basics}}{{summary}}{{/resume.basics}}
               </p>
            </div>
			   {{> skills }}
            
            
         
   
	<div id="profiles">
            {{#each resume.basics.profiles}}
		{{#if network}}
		<div>

         <h1><a href={{url}}>{{network}}</a></h1>
		</div>
		{{/if}}	
	{{/each}}
	</div>
        

			</div>
			<div id = "resumeMain">
			   {{> work }}
			   {{> volunteer }}
			   {{> education }}
			   {{> awards }}
			   {{> publications }}
			   {{> languages }}
			   {{> interests }}
			   {{> references }}

			</div>
            <div id="resumeBotton">
               <p>
			         {{> basics }}
               </p>
            </div>
		</div>
	</body>
</html>
