body {
	background: #fff;
	font: 12px Calibri, Helvetica, sans-serif;
	line-height: 1.4;
	/*margin: 50px 0px;*/
	/*margin-bottom: 100px;*/
}
em {
	color: #999;
}
p {
	line-height: 1.4;
}
ul {
	margin-bottom: 0;
}
section {
	margin-bottom: 4em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
.item {
	margin-bottom: 1em;
}

#resume {
	
	margin: 0 auto;
	width: 794px;
	max-width: 794px;
	height: 1170px;
	/*padding: 0 20px;
	/*margin: 0 auto;
    max-width: 600px;*/
    padding: 25px 25px;
	background: #fff;
	
    /*border: 1px solid #ccc; /* Editing border part I / III */
    /*box-shadow: 2px 2px 4px #aaa; /* Editing border part II / III */
	/*-webkit-box-shadow: 2px 2px 4px #aaa; /* Editing border part III / III */
	
}


#cvTitle {
	display: inline;
	font: 40px Calibri, Helvetica, sans-serif;
	opacity: 50%;
	word-spacing: 100px;
	/*border: 2px solid rgb(0, 0, 0); /* Title border (debug) */
	
}

#profiles {
	padding-top: 50%;
}

#cvTitle h1 {
	font: 100px Calibri, Helvetica, sans-serif;
	display: inline;
}

#resumeSide {
	
	width: 300px;
	height: 1165px;
	top: 0;
	left: 0;
	bottom: 0;
	/*padding: 20px 0px;*/
	/*margin-left: 20px;*/
	margin-right: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	/*margin-top: 10%;*/
	float: left;
	/*border: 2px solid rgb(0, 0, 0); /* side panel border (debug) */
    background: rgba(150, 150, 150, 0.25);
	
	
}

#resumeSide img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(150, 150, 150, 0.5);
}

#summary {
	background: rgba(150, 150, 150, 0.1);
	margin-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0.01px;
	padding-bottom: 0.05px;
}

#resumeMain {
	margin-left: 250px; /* Same width as the sidebar + left position in px */
	top: 0;
	left: 0;
	padding: 20px 10px;
	height: 880px;
	
	transform: translate(0%, 0%);
	/*border: 2px solid rgb(0, 0, 0); /* main panel border (debug) */
	
}

#resumeBotton {
	font: 14px Calibri, Helvetica, sans-serif;
	margin-top: 135px;
	margin-bottom: 0px;
	text-align: center;
	
}

.iconBox {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	/*border: 2px solid rgb(0, 0, 0); /* Debug */
	transform: translate(0, -25%);
	float: left;
}



#skills {
	overflow: hidden;
}

#work .date {
	font: 10px Calibri, Helvetica, sans-serif;
}

#workItems, #skillItems, #educationItems, #languageItems, #interestItems {
	/*float: left;
	margin-bottom: 0px;
	transform: translate(100px);
	padding-bottom: 0px;*/
	margin-top: 3em;
	margin-bottom: 3em;
	
}

#work .highlights {
	font: 10px Calibri, Helvetica, sans-serif;
	transform: translate(3%, 0%);
}

#profiles .item,
#skills .item {
	/*float: left;*/
	/*display: flex;
	align-items: flex-start;*/
	/*margin: 0px;*/
	/*position: relative;*/
	/*top: 50%;*/
	/*left: 25%;*/
	/*transform: translate(30%, 0%);*/
	float: left;
	width: 45%;
	
	
}

#company h3 {
	display: inline;
}

#languages .item {
	width: 15%;
	float: left;
}

#interests {
	margin-top: 125px;
}

#interests .item {
	font: 12px Calibri, Helvetica, sans-serif;
	padding-left: 50px;
	height: 4px;

}

#skills .keywords {
	transform: translate(-15%);
	font: 10px Calibri, Helvetica, sans-serif;
}

#education .institution .date {
	display: inline;
	font: 10px Calibri, Helvetica, sans-serif;

}	

a:link {
	color:#0000EE;
	background-color: transparent;
	text-decoration: none;
  }

a:visited {
	color:#0000EE;
	background-color: transparent;
	text-decoration: none;
}
